<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登 陆</title>
</head>

<body>
  <form action="/user/register" method="post">
    <input type="text" name="name" id="username" placeholder="请输入用户名：sumaolin">
    <br>
    <input type="password" name="password" id="password" placeholder="请输入用户秘密：12356">
    <br>
    <button>{{btnName}}</button>
  </form>
</body>

</html>
