<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WebUploader</title>
  <link rel="stylesheet" href="/assets/js/lib/webuploader/webuploader.css" />
  <style type="text/css">
    .itemDel,
    .itemStop,
    .itemUpload {
      margin-left: 15px;
      color: blue;
      cursor: pointer;
    }

    #uploader {
      width: 80%;
      margin: 0 auto;
    }

    #theList {
      min-height: 100px;
      border: 1px solid #efefef;
      border-radius: 5px;
      padding: 10px 40px;
    }

    #theList .itemStop {
      display: none;
    }

    #picker {
      float: right;
    }
  </style>

</head>

<body>
  <div id="uploader">
    <ul id="theList"></ul>
    <div id="picker">选择文件</div>
  </div>
  <script src="/assets/js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/lib/md5.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/lib/webuploader/webuploader.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
